$boxShadowDefault: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24), 0 0 3px rgba(0,0,0,0.12);
$boxShadowHover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.08);

$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorMain: #00A5D5;
$colorSub: #EED786;
$colorAccent: #EE86A8;

$durationXS: 0.15s;
$durationSM: 0.30s;
$durationMD: 0.45s;
$durationLG: 0.60s;
$durationXL: 0.75s;

$spacerXS: 1.5rem;
$spacerSM: 3rem;
$spacerMD: 4.5rem;
$spacerLG: 6rem;
$spacerXL: 7.5rem;