@charset 'utf-8';
@import '_mixins';
@import '_normalize';
@import '_normalizeConfig';
@import '_debugger';
@import '_variables';
@import '_font';



html {
  --imageSize: 60vw;
  --magnificationSize: 4;
  --magnificationArea: calc(var(--imageSize) / var(--magnificationSize));
  --dropShadow: 0 1px 6px rgba(32,33,36,.28);
  @include w480 {
    --imageSize: 40vw;
  }
  @include w640 {
    --imageSize: 30vw;
  }
  @include w1024 {
    --imageSize: 240px;
  }
}



.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}



.componentMagnify {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @include w640 {
    justify-content: center;
  }
  @include w1024 {
    flex-direction: row-reverse;
  }
}



.magnifiedImageSection {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: 100vw;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  & .magnifiedImageArea {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  & .magnifiedImage {
    transform: translate(0, 0);
    width: calc((var(--imageSize) * var(--magnificationSize)) * (100 / 60)); // 100vw / 60vw
    will-change: transform;
  }
  @include w480 {
    max-height: 560px;
    & .magnifiedImageArea {
      box-shadow: $boxShadowHover;
      border-radius: 16px;
      height: 80vw;
      width: 80vw;
    }
    & .magnifiedImage {
      width: calc((var(--imageSize) * var(--magnificationSize)) * (80 / 40)); // 80vw / 40vw
    }
  }
  @include w640 {
    & .magnifiedImageArea {
      max-height: 500px;
      max-width: 500px;
    }
    & .magnifiedImage {
      width: calc((var(--imageSize) * var(--magnificationSize)) * (80 / 30)); // 80vw / 30vw
    }
  }
  @include w1024 {
    height: initial;
    width: initial;
    overflow: visible;
  }
}



.limeImageSection {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  width: 100%;
  & .limeImageContainer {
    position: relative;
    line-height: 0;
  }
  & .limeImage {
    width: var(--imageSize);
    line-height: 0;
  }
  & .magnifiedArea {
    position: absolute;
    background-image: url('../images/magnifyArea.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
    height: var(--magnificationArea);
    width: var(--magnificationArea);
    border: 1px solid rgba(255,255,255,0.25);
    top: calc(50% - (var(--magnificationArea) / 2));
    left: calc(50% - (var(--magnificationArea) / 2));
  }
  @include w640 {
    max-height: var(--imageSize);
  }
  @include w1024 {
    width: initial;
    flex: 0 0 auto;
    margin-right: 64px;
    & .limeImage {
      width: var(--imageSize);
    }
  }
}




