@charset 'utf-8';
@import '_mixins';
@import '_normalize';
@import '_normalizeConfig';
@import '_debugger';
@import '_variables';
@import '_font';

.mainContainer {
  border: 16px solid goldenrod;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
